/** Add css rules here for your application. */

/** Drawer Style */
.drawer-button {
	border: 1px solid #666;
	background: #eee;
	width: 100%;
}

.canvas {
	border: 3px solid black;
}


/** Cursor change css hack */
.globalMoveCursor *, .globalMoveCursor .absolutelyPositioned {
    cursor: move;

} 

.globalHandCursor *, .globalHandCursor .absolutelyPositioned {
    cursor: pointer;

} 
.globalNormalCursor *, .globalNormalCursor .absolutelyPositioned {
    cursor: default;

}
.globalCrosshairCursor *, .globalCrosshairCursor .absolutelyPositioned {
    cursor: crosshair;

} 