/** Add css rules here for your application. */

/** Drawer Style */
.drawer-button {
	border: 1px solid #666;
	background: #eee;
	width: 100%;
}
.editor-field {
	border: 1px solid #0f0;
}

.canvas {
	border: 3px solid black;
}


/** Cursor change styles */

.globalAutoCursor *, .globalAutoCursor .absolutelyPositioned {
    cursor: auto;
}
.globalCrosshairCursor *, .globalCrosshairCursor .absolutelyPositioned {
    cursor: crosshair;
}
.globalDefaultCursor *, .globalDefaultCursor .absolutelyPositioned {
    cursor: default;
}
.globalPointerCursor *, .globalPointerCursor .absolutelyPositioned {
    cursor: pointer;
} 
.globalMoveCursor *, .globalMoveCursor .absolutelyPositioned {
    cursor: move;
} 
.globalE_ResizeCursor *, .globalE_ResizeCursor .absolutelyPositioned {
    cursor: e-resize;
}
.globalNE_ResizeCursor *, .globalNE_ResizeCursor .absolutelyPositioned {
    cursor: ne-resize;
}
.globalNW_ResizeCursor *, .globalNW_ResizeCursor .absolutelyPositioned {
    cursor: nw-resize;
}
.globalN_ResizeCursor *, .globalN_ResizeCursor .absolutelyPositioned {
    cursor: n-resize;
}
.globalSE_ResizeCursor *, .globalSE_ResizeCursor .absolutelyPositioned {
    cursor: se-resize;
} 
.globalSW_ResizeCursor *, .globalSW_ResizeCursor .absolutelyPositioned {
    cursor: sw-resize;
} 
.globalS_ResizeCursor *, .globalS_ResizeCursor .absolutelyPositioned {
    cursor: s-resize;
} 
.globalW_ResizeCursor *, .globalW_ResizeCursor .absolutelyPositioned {
    cursor: w-resize;
} 
.globalTextCursor *, .globalTextCursor .absolutelyPositioned {
    cursor: text;
}
.globalWaitCursor *, .globalWaitCursor .absolutelyPositioned {
    cursor: wait;
} 
.globalHelpCursor *, .globalHelpCursor .absolutelyPositioned {
    cursor: help;
}
.globalNotAllowedCursor *, .globalNotAllowedCursor .absolutelyPositioned {
    cursor: not-allowed;
}
